html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgba(29,29,32);
}

.txt-fine1 {
    font-weight: bold;
    font-size: 58px;
    color: white;
}

.txt-fine2
{
    font-weight:bold;
    font-size: 58px;
    color:green;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.flex {
    display: flex;
}
.w-full {
    width: 100%;
}

.bg-active {
    --tw-bg-opacity: 1;
    background-color: rgba(0,222,50,var(--tw-bg-opacity));
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}

.text-background {
    --tw-text-opacity: 1;
    color: rgba(29,29,32,var(--tw-text-opacity));
}

.font-semibold {
    font-weight: 600;
}

.txt-back
{
    font-size:26px;
    color:green;
}

.insert-text {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.txt-logo {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 26px;
    margin-left: 6%;
    // зачем если все равно обнуляете в конце? text-align: center;
    text-decoration: none;
    margin: 0;
    padding-top: 16px;
    // может это вам надо?
}